#checkout{
    display: flex;
    flex-direction:column;
    margin:1% 9% 1% 9%;
    gap:2rem;
}

#cart .heading{
    color: rgb(107 114 128 );
    font-size: 1.5rem;
}
#cart .heading span{
    color: black;
}
.cart-body{
    margin-top: 2rem;
    display: flex;
    gap:2rem;
}
.cart-items{
    padding: 1rem;
    border: 1px solid #bebebe;
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 100%;
    
}
.cart-items .card .addon{
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap:0.5rem;
    display: flex;
}
.cart-items .card .addon button{
    padding-top:0.2rem;
    background-color: black;
    cursor: pointer;
    color: white;
    font-size:0.8rem;
    border:none;
    height:1.8rem;
    width:1.8rem;
}
.cart-bill{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:1rem;
    border: 1px solid #bebebe;
}
 .billrow{
    display: flex;
    justify-content: space-between;
}
.cart-bill .checkout{
    margin-left: 50%;
    transform: translateX(-50%);
    height: 2.5rem;
    width: 10rem;
    background-color: #ff2c97;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 1rem;
}
#cart .cart-items .card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.cart-items .card img{
    height:8rem;
    width: 8rem;
}
.card .prod-about{
    align-self: center;
    flex-wrap: wrap;
}
 .card input{
    align-self: center;
    border:none;
    width: 2.5rem;
    height: 2.5rem;
}
@media(max-width:600px){
    .cart-items .card img{
       height:4rem;
       width: 4rem;
    }
    .cart-items .card .addon button{
        height: 1.2rem;
        width: 1.2rem;
    }
    .card .prod-about{
        font-size: 0.8rem;
    }
}